<h2><%= @group.group_name %> メンバー一覧</h2>

<table>
  <thead>
    <tr>
      <th scope="col">氏名</th>
      <th scope="col">住所</th>
    </tr>
  </thead>

  <tbody>
    <% @group.users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.address %></td>
    </tr>
    <% end %>
  </tbody>
</table>